{% extends 'base.html' %}

{% block title %}
<title>Personal</title>
{% endblock title %}

{% block texto_header %}
<h1>
    Personal
</h1>
{% endblock texto_header %}

{% block despues_del_header %}
<p>
    <a href={% url 'listado_1' %}>Volver</a>
</p>

<p>
    <ul>
        <li>
            {{Personal.apellido}}
        </li>
        <li>
            {{Personal.edad}}
        </li>
        <li>
            {{Personal.fecha_creacion}}
        </li>
    </ul>
</p>
{% endblock despues_del_header %}